@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

#root {
  font-family: Unbounded-Light;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 50px 0;
}

.text-container-large p {
  padding: 0 2rem;
}

.text-container-small p {
  padding: 0 2rem;
  font-size: x-small;
}
