@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  h1 {
    @apply underline px-4 pt-4 text-center;
  }
}

@layer components {
  h2 {
    @apply text-xl underline pt-4 text-left;
  }
}

@layer components {
  .create-btn {
    @apply text-left text-sm px-4 no-underline hover:underline;
  }
}

@layer components {
  .standard-btn {
    @apply text-center no-underline hover:underline;
  }
}

@layer components {
  .input-field {
    @apply w-full p-2 border;
    background-color: var(--bg-color);
    border-color: var(--text-color);
    color: var(--text-color);
  }
}

#root {
  font-family: Unbounded-Light;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 50px 0;
}

.community-container p {
  text-align: left;
  padding: 5px;
}

/* .input-field {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  color: var(--text-color);
} */
